# Node modules
node_modules/

# Build output
dist/
build/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# NestJS specific
coverage/

# SQLite 
*.sqlite
*.sqlite3

# Optional: skip local database dumps
*.dump.sql
